//-------------------------------------------------------------------
//  TOP LEVEL SELECTOR STYLING
//-------------------------------------------------------------------

html
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed

body
  font-size: $base-font-size
  overflow-x: hidden
  width: 100vw
  min-height: 100vh
  margin: 0
  background-color: $black
  *
    @extend %border-box

header
  z-index: $header-z
  position: fixed

nav
  z-index: $nav-z

main
  @extend %clearfix
  min-height: 100vh
  width: 100vw


section.target-section
  overflow: hidden
  border-top: 1rem white solid

  svg
    position: absolute
    top: -20%
    left: -1.25%
    width: 104%
    height: 136%

section.target-section.target-active
  svg
    top: -20%
    height: 136%
    path
      fill: $black