doctype
html(lang="en")
  != partial("_partials/_head")
  body
    != partial("_partials/_header")
    main
      section.target-section(id="section_one")
        include imgs/01.svg
      section.target-section(id="section_two")
        include imgs/02.svg
      section.target-section(id="section_three")
        include imgs/03.svg
      section.target-section(id="section_four")
        include imgs/04.svg
      section.target-section(id="section_five")
        include imgs/05.svg
    != partial("_partials/_scripts")